@page "/contents"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Entities
@using CMS.Data
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Index Innehåll</h1>

<p>
    <a href="content/create">(Scaffolded)Skapa innehåll(ta bort denna?)</a> |
    <a href="@($"/content/createcontent?webpageid={WebPageId}")">Skapa innehåll</a>
</p>

@if (contents == null || !contents.Any())
{
    <p>Denna webbsidan har inget innehåll.</p>
}
else
{
    <QuickGrid Class="table" Items="contents">
        <PropertyColumn Property="content => content.ContentId" />
        <PropertyColumn Property="content => content.WebPageId" />
        <PropertyColumn Property="content => content.ContentName" />
        <PropertyColumn Property="content => content.TextInputsJson" />
        @* <PropertyColumn Property="content => content.Backgroundcolor" />
        <PropertyColumn Property="content => content.Textcolor" /> *@
        <PropertyColumn Property="content => content.TemplateId" />

        <TemplateColumn Context="content">
            <a href="@($"/preview/{content.ContentId}")">Förhandsgranska</a> |
            <a href="@($"content/edit?contentid={content.ContentId}")">Redigera</a> |
            <a href="@($"content/details?contentid={content.ContentId}")">Detaljer</a> |
            <a href="@($"content/delete?contentid={content.ContentId}")">Radera</a>
        </TemplateColumn>
    </QuickGrid>
}


@code {
    IQueryable<Content> contents = Enumerable.Empty<Content>().AsQueryable();

    [SupplyParameterFromQuery]
    public int? WebPageId { get; set; }

    ApplicationDbContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();

        if (WebPageId.HasValue)
        {
            // Fetch content filtered by WebPageId
            contents = context.Contents.Where(c => c.WebPageId == WebPageId.Value);
        }
        else
        {
            // Fetch all content if no WebPageId is provided
            contents = context.Contents;
        }
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}