@using CMS.Components.Pages.ContentPages
@attribute [Authorize]

<div class="card" style="width: 16rem;">
    <div class="card-body">
        <h5 class="card-title">@WebPage.Title</h5>
        <p class="card-text">@WebPage.Description</p>

        <div class="creation-info">
            Skapad: @WebPage.CreationDate<br />
        </div>
        <div>
            @if(WebPage.Contents != null || WebPage.Contents.Count() < 1)
            {
                bool found = false;
                foreach (var content in WebPage.Contents)
                {
                    if (content.TemplateId == 1 || content.TemplateId == 2)
                    {
                        found = true;
                        <div class ="card-img">
                        <ContentPreview ContentId = "@content.ContentId" />
                        </div>

                    }
                }
                if (!found)
                {
                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.webp" alt=""
                         class="card-img" />
                }
            }
        </div>
        @if (WebPage.LastUpdated.HasValue)
        {
            <div class="creation-info">Uppdaterad: @WebPage.LastUpdated</div>
        }
        else
        {
            <div class="creation-info">&nbsp;</div>
        }
        <hr />
        <div class="row justify-content-evenly">
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"/webpages/previewpage/{WebPage.WebPageId}")" aria-label="Förhandgranska webbsida" title="Förhandgranska webbsida">
                    <i class="material-icons icon-black">remove_red_eye</i>
                </a>
                <span class="icon-text">Förhandgranska</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"/contents?webpageid={WebPage.WebPageId}")" aria-label="InnehållsLista" title="InnehållsLista">
                    <i class="material-icons icon-black">ballot</i>
                </a>
                <span class="icon-text">Innehåll</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"webpages/editwebpage?webpageid={WebPage.WebPageId}")" aria-label="Redigera" title="Redigera">
                    <i class="material-icons icon-black">edit_document</i>
                </a>
                <span class="icon-text">Redigera</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"webpages/delete?webpageid={WebPage.WebPageId}")" aria-label="Ta bort" title="Ta bort">
                    <i class="material-icons icon-black" style="font-size: 32px;">delete_forever</i>
                </a>
                <span class="icon-text">Radera</span>
            </div>
        </div>
            

      @*   <div class="card-icons">
            <a href="@($"/webpages/previewpage/{WebPage.WebPageId}")" title="Förhandgranska" class="me-2">
                <i class="material-icons icon-orange">remove_red_eye</i>
            </a>
            <a href="@($"/contents?webpageid={WebPage.WebPageId}")" title="InnehållsLista" class="me-2">
                <i class="material-icons icon-green">note_add</i>
            </a>
            <a href="@($"webpages/editwebpage?webpageid={WebPage.WebPageId}")" title="Redigera" class="me-2">
                <i class="material-icons icon-orange">edit_document</i>
            </a>
            <a href="@($"webpages/delete?webpageid={WebPage.WebPageId}")" title="Ta bort" class="me-2">
                <i class="material-icons icon-red" style="font-size: 32px;">delete_forever</i>
            </a>
        </div> *@
    </div>
</div>

@code {
    [Parameter] public WebPage WebPage { get; set; }
    [Parameter] public int VisitCount { get; set; }
}