@attribute [Authorize]

<div class="card">
    <div class="card-image">
        @if (WebSite.ImageUrl != null)
        {
            <img src="@WebSite.ImageUrl" alt="@WebSite.Title" class="card-img">
        }
        @if (VisitCount >= 1)
        {
            <div class="badge-overlay">
                <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill">
                    @VisitCount
                </Badge>
            </div>
        }
    </div>
    <div class="card-body">
        <h5 class="card-title">@WebSite.Title</h5>
        <p class="card-text">@WebSite.Description</p>
        <div class="creation-info">
            Skapad: @WebSite.CreationDate<br>
            @if (WebSite.LastUpdated.HasValue)
            {
                <span>Uppdaterad: @WebSite.LastUpdated</span>
            }
        </div>
        <div class="btn-group">
            <a href="@($"webpages?websiteid={WebSite.WebSiteId}")" class="btn btn-outline-primary btn-sm">Webbsidor</a>
            <a href="@($"websites/details?websiteid={WebSite.WebSiteId}")" class="btn btn-outline-info btn-sm">Detaljer</a>
            <a href="@($"websites/edit?websiteid={WebSite.WebSiteId}")" class="btn btn-outline-warning btn-sm">Redigera</a>
            <a href="@($"websites/delete?websiteid={WebSite.WebSiteId}")" class="btn btn-outline-danger btn-sm">Radera</a>
        </div>


    </div>
</div>


@code {
    [Parameter] public WebSite WebSite { get; set; }
    [Parameter] public int VisitCount { get; set; }
}
@*
@attribute [Authorize]

<div class="card" style="width: 16rem;">
    <div class="card-image">
        @if (WebSite.ImageUrl != null)
        {
            <img src="@WebSite.ImageUrl" alt="" class="card-img" />
        }
        else
        {
            <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.webp" alt=""
                 class="card-img" />
        }
        <!-- Badge positioned as an overlay showing the WebSiteVisit.VisitCount if the page has had any visits, ugly page it not ;x -->
        @if (VisitCount >= 1)
        {
            <div class="badge-overlay">
                <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill ">
                    @VisitCount
                </Badge>
            </div>
        }
    </div>

    <div class="card-body">
        <h5 class="card-title">@WebSite.Title</h5>
        <p class="card-text">@WebSite.Description</p>

        <div class="creation-info">
            Skapad: @WebSite.CreationDate<br />
        </div>
        @if (WebSite.LastUpdated.HasValue)
        {
            <div class="creation-info">Uppdaterad: @WebSite.LastUpdated</div>
        }
        else
        {
            <div class="creation-info">&nbsp;</div>
        }
        <hr />

        <div class="card-icons">
            @if (WebSite.WebPages.Count > 0)
            {
                <a href="@($"visit?websiteid={WebSite.WebSiteId}")" title="Besök webbsida" class="me-2">
                    <i class="material-icons icon-blue">language</i>
                </a>
            }
            else
            {
                <a href="@($"visit?websiteid={WebSite.WebSiteId}")" title="Besök webbsida" class="me-2">
                    <i class="material-icons icon-blue d-none">language</i>
                </a>
            }
            <a href="@($"websites/details?websiteid={WebSite.WebSiteId}")" title="Detaljer" class="me-2">
                <i class="material-icons icon-orange">remove_red_eye</i>
            </a>
            <a href="@($"/webpages/create?websiteid={WebSite.WebSiteId}")" title="Lägg till webbsida" class="me-2">
                <i class="material-icons icon-green">note_add</i>
            </a>
            <a href="@($"websites/edit?websiteid={WebSite.WebSiteId}")" title="Redigera" class="me-2">
                <i class="material-icons icon-orange">edit_document</i>
            </a>
            <a href="@($"websites/delete?websiteid={WebSite.WebSiteId}")" title="Ta bort" class="me-2">
                <i class="material-icons icon-red" style="font-size: 32px;">delete_forever</i>
            </a>
        </div>
    </div>
</div>

*@
@*
@code {
    [Parameter] public WebSite WebSite { get; set; }
    [Parameter] public int VisitCount { get; set; }
}
*@