@attribute [Authorize]

<div class="card" style="width: 16rem;">
    <div class="card-image">
        @if (WebSite.ImageUrl != null)
        {
            <img src="@WebSite.ImageUrl" alt="" class="card-img" />
        }
        else
        {
            <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.webp" alt=""
                 class="card-img" />
        }
        <!-- Badge positioned as an overlay showing the WebSiteVisit.VisitCount if the page has had any visits, ugly page it not ;x -->
        @if (VisitCount >= 1)
        {
            <div class="badge-overlay">
                <Badge Color="BadgeColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill ">
                    @VisitCount
                </Badge>
            </div>
        }
    </div>

    <div class="card-body">
        <h5 class="card-title">@WebSite.Title</h5>
        <p class="card-text">@WebSite.Description</p>

        <div class="creation-info">
            Skapad: @WebSite.CreationDate<br />
        </div>
        @if (WebSite.LastUpdated.HasValue)
        {
            <div class="creation-info">Uppdaterad: @WebSite.LastUpdated</div>
        }
        else
        {
            <div class="creation-info">&nbsp;</div>
        }
        <hr />

        @if (WebSite.WebPages.Count > 0)
        {
            <div class="icon-container justify-content-center">
                <a class="btn overlay-btn-main" href="@($"visit?websiteid={WebSite.WebSiteId}")" )" aria-label="Besök webbsida" title="Besök webbsidaa">
                    <i class="material-icons icon-black">language</i>
                </a>
                <span class="icon-text">Besök webbsida</span>
            </div>
        }
@*         <div class="row justify-content-evenly">
            <div class="icon-container col-3">
                <a class="btn overlay-btn-main" href="@($"websites/details?websiteid={WebSite.WebSiteId}")" aria-label="Detaljer" title="Detaljer">
                    <i class="material-icons icon-black">remove_red_eye</i>
                </a>
                <span class="icon-text">Detaljer</span>
            </div>
        </div> *@
        <div class="row justify-content-evenly">
            <div class="icon-container col-2 ">
                <a class="btn overlay-btn-main" href="@($"/webpages/create?websiteid={WebSite.WebSiteId}")" aria-label="Webbsidor" title="Webbsidor">
                    <i class="material-icons icon-black">note_add</i>
                </a>
                <span class="icon-text">Skapa webbsida</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"webpages?websiteid={WebSite.WebSiteId}")" aria-label="Webpages" title="Visa Webpages">
                    <i class="material-icons icon-black">remove_red_eye</i>
                </a>
                <span class="icon-text">Webpages</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"websites/edit?websiteid={WebSite.WebSiteId}")" aria-label="Redigera Website" title="Redigera Website">
                    <i class="material-icons icon-black">edit_document</i>
                </a>
                <span class="icon-text">Redigera</span>
            </div>
            <div class="icon-container col-2">
                <a class="btn overlay-btn-main" href="@($"websites/delete?websiteid={WebSite.WebSiteId}")" aria-label="Ta bort" title="Ta bort">
                    <i class="material-icons icon-black" style="font-size: 32px;">delete_forever</i>
                </a>
                <span class="icon-text">Ta bort</span>
            </div>
        </div>



        @* <div class="card-icons">
            @if (WebSite.WebPages.Count > 0)
            {
                <a href="@($"visit?websiteid={WebSite.WebSiteId}")" title="Besök webbsida" class="me-2">
                    <i class="material-icons icon-blue">language</i>
                </a>
            }
            else
            {
                <a href="@($"visit?websiteid={WebSite.WebSiteId}")" title="Besök webbsida" class="me-2">
                    <i class="material-icons icon-blue d-none">language</i>
                </a>
            }
            <a href="@($"websites/details?websiteid={WebSite.WebSiteId}")" title="Detaljer" class="me-2">
                <i class="material-icons icon-orange">remove_red_eye</i>
            </a>
            <a href="@($"/webpages/create?websiteid={WebSite.WebSiteId}")" title="Lägg till webbsida" class="me-2">
                <i class="material-icons icon-green">note_add</i>
            </a>
            <a href="@($"websites/edit?websiteid={WebSite.WebSiteId}")" title="Redigera" class="me-2">
                <i class="material-icons icon-orange">edit_document</i>
            </a>
            <a href="@($"websites/delete?websiteid={WebSite.WebSiteId}")" title="Ta bort" class="me-2">
                <i class="material-icons icon-red" style="font-size: 32px;">delete_forever</i>
            </a>
        </div>
    </div> *@
</div>
</div>
@code {
    [Parameter] public WebSite WebSite { get; set; }
    [Parameter] public int VisitCount { get; set; }
}