@using CMS.Components.BlazorComponents.HtmlTemplates
@using CMS.Data
@using CMS.Entities
@using Microsoft.AspNetCore.Components
@using Microsoft.EntityFrameworkCore
@using System.Threading.Tasks
@using CMS.Components.BlazorComponents.HtmlTemplates
@inherits BaseNavBarTemplate
@inject IContentService ContentService
@inject IWebPageService WebPageService
@inject IGetCurrentUserService GetCurrentUserService
@rendermode InteractiveServer
@namespace BlazorComponents.HtmlTemplates.InputFormsForTemplates

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="@($"background-color: {BackgroundColor}; color: {TextColor}; font-size: 20px;")">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaris" aria-controls="navbaris" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbaris">
            <ul class="navbar-nav mr-auto">
                @foreach (var item in MenuItems)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" @onclick="() => Edit(item.Key)" style="@($"color: {TextColor};")">
                            @item.Key
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <a>Tryck på en titel i menyn för att editera valet.</a>

    <div>
        @if (currentStep == InputStep.ContentNameInput)
        {
            <EditForm Model="@this" OnValidSubmit="AddMenuName">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="meny">Menys namn:</label>
                    <InputText @bind-Value="inputValue" class="form-control" placeholder="Meny namn" />
                </div>
                <button type="submit" class="btn btn-primary">Lägg till</button>
            </EditForm>
        }
        else if (currentStep == InputStep.AddItem)
        {
            <EditForm Model="@this" OnValidSubmit="AddItem">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="title">Menyval namn:</label>
                    <InputText @bind-Value="inputValue" class="form-control" placeholder="Menyval namn" />
                </div>

                <div class="mb-3">
                    <label for="templateDropdown">Välj Sida:</label>
                    <InputSelect @bind-Value="templateDropdown" class="form-control">
                        <option value="">-- Välj Sida --</option>
                        @if (webpages != null)
                        {
                            @foreach (var item in Pages)
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        }
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-primary">Lägg till</button>
                <button type="button" @onclick="AbortItem" class="btn btn-secondary">Avbryt</button>
            </EditForm>
        }
        else if (currentStep == InputStep.Wait)
        {
            <button type="button" @onclick="NewItem" class="btn btn-primary">Lägg till menyval</button>
            @if (!MultiPageMode)
            {
                <button type="button" @onclick="Save" class="btn btn-success">Spara meny</button>
            }
        }
        else if (currentStep == InputStep.Edit)
        {
            <EditForm Model="@this" OnValidSubmit="UpdateItem">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    <label for="title">Menyval namn:</label>
                    <InputText @bind-Value="inputValue" class="form-control" placeholder="Menyval namn" />
                </div>

                <div class="mb-3">
                    <label for="templateDropdown">Välj Sida:</label>
                    <InputSelect @bind-Value="templateDropdown" class="form-control">
                        <option value="">-- Välj Sida --</option>
                        @if (webpages != null)
                        {
                            @foreach (var item in Pages)
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        }
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-success">Ändra</button>
                <button type="button" @onclick="DeleteItem" class="btn btn-danger">Ta bort</button>
                <button type="button" @onclick="AbortItem" class="btn btn-secondary">Avbryt</button>
            </EditForm>
        }

        <div>
            <!--Color Controls-->
            <div class="row">
                <div class="col-md-6">
                    <label>Background Color:</label>
                    <InputText @bind-Value="BackgroundColor" type="color" class="form-control form-control-color" />
                </div>
                <div class="col-md-6">
                    <label>Text Color:</label>
                    <InputText @bind-Value="TextColor" type="color" class="form-control form-control-color" />
                </div>
            </div>
        </div>

        <!-- Success message -->
        @if (saveSuccessful)
        {
            <div class="alert alert-success" role="alert" style="margin-top: 20px;">
                Content saved successfully!
                <a href="/contents?webpageid=@WebPageId" class="alert-link">Click here to view all contents.</a>
            </div>
        }
    </div>
</div>
