@namespace Templates.SingleInput

<h3>Template 1</h3>

<footer class="text-white py-4" style="background-color:@Backgroundcolor;">
    <div class="container">
        <div class="text-center mb-3 mb-md-0" style="color:@Textcolor;">
            <small class="d-block">Template 1 Footer: &copy; 2024 @TextInput1</small>
            <small class="d-block">Author: @TextInput2</small>
        </div>
    </div>
</footer>

@code {
    [Parameter] public int TemplateId { get; set; }
    [Parameter] public int WebPageId { get; set; } // Receive WebPageId from parameters

    [Parameter] public string ContentName { get; set; } = string.Empty;
    [Parameter] public string TextInput1 { get; set; } = "Default FooterText 1 for Template 1";
    [Parameter] public string TextInput2 { get; set; } = "Default FooterText 2 for Template 1";
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black"; 
}


@* @namespace Templates.SingleInput

<h3>Template 1</h3>

<footer class="text-white py-4" style="background-color:@Backgroundcolor;">
    <div class="container">
        <div class="text-center mb-3 mb-md-0" style="color:@Textcolor;">
            <small class="d-block">Template 1 Footer: &copy; 2024 @TextInput1</small>
            <small class="d-block">Author: @TextInput2</small>
        </div>
    </div>
</footer>

@code {
    [Parameter] public string ContentName { get; set; } = "No name given";
    [Parameter] public string TextInput1 { get; set; } = "Default FooterText 1 for Template 1";
    [Parameter] public string TextInput2 { get; set; } = "Default FooterText 2 for Template 1";
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black"; // Default text color
} *@


@* @code {
    [Parameter] public Dictionary<string, object> Inputs { get; set; }
    [Parameter] public string Backgroundcolor { get; set; } = "grey";
    [Parameter] public string Textcolor { get; set; } = "black";
}

<footer class="text-white py-4" style="background-color:@Backgroundcolor;">
    <div class="container">
        <div class="text-center mb-3 mb-md-0" style="color:@Textcolor;">
            @if (Inputs != null && Inputs.Any())
            {
                @foreach (var input in Inputs)
                {
                    <small class="d-block">@input.Key: @input.Value</small>
                }
            }
            else
            {
                <small>No inputs provided.</small>
            }
        </div>
    </div>
</footer>
 *@