@page "/webpages/delete"
@attribute [Authorize]

@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Radera Webbsida</PageTitle>

<h1>Radera</h1>

<h3>Är du säker på att du vill radera webbsidan?</h3>
<div>
    <h4>Webbsida</h4>
    <hr />
    @if (webpage is null)
    {
        <p><em>Laddar...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">WebSiteId</dt>
            <dd class="col-sm-10">@webpage.WebSiteId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Rubrik</dt>
            <dd class="col-sm-10">@webpage.Header</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Body??</dt>
            <dd class="col-sm-10">@webpage.Body</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Underrubrik</dt>
            <dd class="col-sm-10">@webpage.Footer</dd>
        </dl>
        <EditForm method="post" Model="webpage" OnValidSubmit="DeleteWebPage" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(webpage is null)">Radera</button> |
            <a href="/webpages">Tillbaka</a>
        </EditForm>
    }
</div>

@code {
    WebPage? webpage;

    [SupplyParameterFromQuery]
    public int WebPageId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        webpage = await context.WebPages.FirstOrDefaultAsync(m => m.WebPageId == WebPageId);

        if (webpage is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteWebPage()
    {
        using var context = DbFactory.CreateDbContext();
        context.WebPages.Remove(webpage!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/webpages?websiteid={webpage.WebSiteId}");
    }
}
