

@page "/webpages/editwebpage"


@attribute [Authorize]

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CMS.Entities
@using CMS.Data
@using CMS.Components.Pages.ContentPages
@rendermode InteractiveServer
@using BlazorComponents.HtmlTemplates
@namespace CMS.Components.Pages.WebPages
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject IGetCurrentUserService GetCurrentUserService
@implements IAsyncDisposable

 <style>
    .containerEditWebPage {
        position: relative;
        padding: 0px;
        border: 0px solid #ccc;
        background-color: rgba(0, 0, 0, 0);
    }

    .container {
        position: relative;
        padding: 0px;
        border: 0px solid #ccc;
        background-color: rgba(0, 0, 0, 0);
    }

    .overlay-btn {
        position: absolute; /* Position relative to the containerEditWebPage */
        top: 50%; /* Position from the top (50% of the parent container) */
        left: 80%; /* Position from the left (50% of the parent container) */
        transform: translate(-50%, -50%); /* Offset the button by half its width and height */
        z-index: 10;
        background-color: rgba(0, 123, 255, 0.6); /* Semi-transparent blue background (50% opacity) */
        color: white;
        border: 2px solid #007bff; /* Blue border */
        padding: 10px 20px;
    }

    .overlay-edit {
        position: absolute; /* Position relative to the containerEditWebPage */
        top: 75%; /* Position from the top (50% of the parent container) */
        left: 50%; /* Position from the left (50% of the parent container) */
        transform: translate(-50%, -50%); /* Offset the button by half its width and height */
        z-index: 10;
        background-color: rgba(255, 255, 255, 1);
        color: black;
        border: 2px solid #007bff; /* Blue border */
        padding: 10px 20px;
    }

    .overlay-btn:hover {
        background-color: #0056b3;
    }
</style>


<p>

    @if (StopEditing == false)
    {
        <button type="button" class="btn btn-warning" @onclick="()=> PauseEditContent()"> Pausa redigering </button>
        <button type="button" class="btn btn-warning" @onclick="()=> AddContent()"> Lägg till innehåll </button>
    }
    else
    {
        <button type="button" class="btn btn-warning" @onclick="()=> ResumeEditContent()"> Redigera innehåll </button>

    }
        <button type="button" class="btn btn-success" @onclick="()=> EditPageInformation()"> Redigera Sidans information </button>
</p>

@if (contents == null) 
{
    <p>Denna webbsidan har inget innehåll.</p>
}
else
{
    <QuickGrid Class="table" Items="contents">

            
        <TemplateColumn Context="content">
            @if (EditPageInfo == true)
            {
            <div class="containerEditWebPage" style="position: relative;">
                <div class="content">
                    <ContentPreview ContentId="@content.ContentId" />
                </div>
                <div class="overlay-edit">
                    <CascadingValue Value="content.WebPageId">
                        <CMS.Components.Pages.WebPages.Edit />
                    </CascadingValue>
                    <button type="button" class="btn btn-warning" @onclick="()=> EditPageInformationDone()"> Klar </button>
                </div>
            </div>
            EditPageInfo = false;
            }

            @if (StopEditing == false)
            {
                @if (ContentForEditing != content.ContentId)
                {
                    <div class="containerEditWebPage" style="position: relative;">
                        <div class="content">
                            <ContentPreview ContentId="@content.ContentId" />
                        </div>


                        <button class="btn btn-primary overlay-btn btn-primary-outline" @onclick="()=> EditContent(content)"> Redigera </button>
                    </div>
                }
                else
                {
                    <div class="containerEditWebPage" style="position: relative;">
                        <div class="content">
                            <ContentPreview ContentId="@content.ContentId" />
                        </div>
                        <div class="overlay-edit">
                            <CascadingValue Value="content.ContentId">
                                <EditContent />
                            </CascadingValue>
                            <button type="button" class="btn btn-warning" @onclick="()=> ResumeEditContent()"> Klar </button>
                            </div>
                    </div>
                }
            }
            else
            {
                if (Create == true)
                {
                    <div class="containerEditWebPage" style="position: relative;">
                        <div class="content">
                            <ContentPreview ContentId="@content.ContentId" />
                        </div>
                        <div class="overlay-edit">
                            <CascadingValue Value="content.WebPageId">
                                <CreateContent />
                            </CascadingValue>
                            <button type="button" class="btn btn-warning" @onclick="()=> CreateDone()"> Klar </button>
                        </div>
                    </div>
                    Create = false; @* flytta till klar funktion *@
                }
                else
                {
                    <div class="content">
                        <ContentPreview ContentId="@content.ContentId" />
                    </div>
                }
            }
        </TemplateColumn>
    </QuickGrid>
}