@page "/websites/delete"
@attribute [Authorize]
@inject IDbContextFactory<CMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Radera</PageTitle>

<h1>Radera</h1>

<h3>Är du säker på att du vill radera webbsiten?</h3>
<div>
    <h4>Webbsite</h4>
    <hr />
    @if (website is null)
    {
        <p><em>Laddar...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Titel</dt>
            <dd class="col-sm-10">@website.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Beskrivning</dt>
            <dd class="col-sm-10">@website.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Skapad</dt>
            <dd class="col-sm-10">@website.CreationDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Senast uppdaterad</dt>
            <dd class="col-sm-10">@website.LastUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Användar Id</dt>
            <dd class="col-sm-10">@website.UserId</dd>
        </dl>
        <EditForm method="post" Model="website" OnValidSubmit="DeleteWebSite" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(website is null)">Radera</button> |
            <a href="/websites">Tillbaka</a>
        </EditForm>
    }
</div>

@code {
    WebSite? website;

    [SupplyParameterFromQuery]
    public int WebSiteId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        website = await context.WebSites.FirstOrDefaultAsync(m => m.WebSiteId == WebSiteId);

        if (website is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteWebSite()
    {
        using var context = DbFactory.CreateDbContext();
        context.WebSites.Remove(website!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/websites");
    }
}
